<!--AQUÍ COMIENZA HISTORIA-->
          <div id="historia" class="row align-items-center py-4">
            <div class="col-lg-2 col-md-3 d-none d-sm-block">
              <img src="images/familiaviña.JPG" alt="origenes familia" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 d-none d-sm-block">
              <img src="images/socios.jpg" alt="socios página" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 d-none d-sm-block">
              <img src="images/nono.jpg" alt="abuelo" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
              <h2>Historia</h2>
              <p>Esta página nació de los orígenes comunes de cuatro amigos y compañeros de estudio. Todos provenimos de familias inmigrantes italianas, que trajeron a las tierras mendocinas el amor y conocimiento sobre la elaboración del vino. Nosotros quisimos honrar a nuestros ancestros y mostrar a través de esta página, todo lo que la industria del vino mendocino tiene para dar. </p>
            </div>
          </div>
    <!--AQUÍ CIERRA HISTORIA-->