<header>
<!--AQUÍ COMIENZA EL NAVBAR-->
        <nav class="navbar fixed-top navbar-expand-lg">
            <div class="container">
              <a class="navbar-brand" href="#">El mundo del vino</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a id="destacado" class="nav-link active" aria-current="page" data-scroll href="/home">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-scroll href="/notas" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Notas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" data-scroll href="#nota1">Una copa de vino al día alarga la vida</a></li>
                      <li><a class="dropdown-item" data-scroll href="#nota2">¿Qué son los vinos botritizados?</a></li>
                      <li><a class="dropdown-item" data-scroll href="#nota3">Cómo tener una cava en casa</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-scroll href="/historia">Historia</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-scroll href="/nosotros">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-scroll href="/novedades">Novedades</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-scroll href="/testimonios">Opiniones</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-scroll href="/visitanos">Visitanos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-scroll href="/contactanos">Contactanos</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-light" type="submit">Buscar</button>
                </form>
              </div>
            </div>
          </nav>
<!--AQUÍ CIERRA EL NAVBAR-->
    </header>
<!--AQUÍ COMIENZA EL HERO-->
    <section class="jumbotron">
      <div class="container">
        <div id="home" class="row align-items-center hero">
          <div class="col-lg-3 offset-lg-2">
              <h1 class="titulo-blog t-stroke t-shadow-halftone">El mundo del vino</h1>
              <p>Para los amantes de la bebida de los dioses</p>
          </div>
        </div>
      </div>
    </section>
<!--AQUÍ SE CIERRA EL HERO-->
<!--AQUÍ COMIENZA EL FOOTER-->
  <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a data-scroll href="#home" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a data-scroll href="#notas" class="nav-link px-2 text-muted">Notas</a></li>
          <li class="nav-item"><a data-scroll href="#historia" class="nav-link px-2 text-muted">Historia</a></li>
          <li class="nav-item"><a data-scroll href="#nosotros" class="nav-link px-2 text-muted">Nosotros</a></li>
          <li class="nav-item"><a data-scroll href="#novedades" class="nav-link px-2 text-muted">Novedades</a></li>
          <li class="nav-item"><a data-scroll href="#testimonio" class="nav-link px-2 text-muted">Opiniones</a></li>
          <li class="nav-item"><a data-scroll href="#visitanos" class="nav-link px-2 text-muted">Visitanos</a></li>
          <li class="nav-item"><a data-scroll href="#contactanos" class="nav-link px-2 text-muted">Contactanos</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2022 Bibiana Flamini - Todos los derechos reservados</p>
      </footer>
  </div>