 <!--AQUÍ COMIENZA NOSOTROS-->
          <div id="nosotros" class="row align-items-stretch my-3 staff py-4">
            <div class="col-lg-12">
              <h2>Nosotros</h2>
              <div class="card-group">
                <div class="card">
                  <img src="images/socio1.jpeg" class="card-img-top img-thumbnail" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Carolina Minetti</h5>
                    <p class="card-text">Es enóloga. Trabajó en diversas bodegas y hoy está a cargo de la dirección de Bodega Trepiche.</p>
                  </div>
                </div>
                <div class="card">
                  <img src="images/socio2.jpg" class="card-img-top img-thumbnail " alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Ivan Ivars</h5>
                    <p class="card-text">Es Licenciado en Marketing. Trabaja en una empresa de publicidad y posee junto con Rodrigo Perri el Bar "Vino al vino"</p>
                  </div>
                </div>
                <div class="card">
                  <img src="images/socio3.jpg" class="card-img-top img-thumbnail" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Paula Fernandez</h5>
                    <p class="card-text">Es Licenciada en Turismo. Trabaja en el área de admisiones de la bodega Finca Dagostino.</p>
                  </div>
                </div>
                <div class="card">
                  <img src="images/socio4.jpg" class="card-img-top img-thumbnail" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Rodrigo Perri</h5>
                    <p class="card-text">Es Sommelier. Trabajó en diversos hoteles en el exterior y hace 4 años decidió emprender y fundar su propio bar, tarea que comparte con su amigo Ivan Ivars.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <!--AQUÍ CIERRA NOSOTROS-->