<div class="container">    
    <div id="nota2" class="container">
        <div class="col-lg-9 col-md-9 mt-6 mt-sm-0">
            <article class="nota clearfix">
                <h1 class="title">
                    ¿Qué son los vinos botritizados?
                </h1>
                <p><span class="post-fecha">04 de abril de 2022</span> por <span class="post-autor"><a href="#">Bibiana Flamini</a></span></p>
                <h4 class="post-title text-justify"> Son los vinos producidos con uvas afectadas por el hongo llamado "botritis cinerea", el cual aporta mayor concentración de azúcar, por lo tanto, vinos más dulces. 
                </h4>
                <img class="img" src="images/hilera.jpg" alt="hilera viña">
                <p>
                    Los enólogos utilizan estrictos protocolos para custodiar la evolución de los viñedos, y así, evitar enfermedades que ataquen a las uvas. Sin embargo, a veces, está enfermedad es intencional.
                </p>
                <br>
                <p>
                    La uva puede atravesar diferentes enfermedades. También se manifiestan de manera distinta. Por ejemplo, la podredumbre gris, tan temida entre los productores, consiste en una evolución de los granos, bayas o uvas a los que antes de su maduración los ataca un hongo llamado botrytis cinerea.
                </p>
                <br>
                <p>
                    Se produce en la maduración debido a una alta humedad en condiciones de también alta temperatura. Estos elementos también pueden generar la Podredumbre Negra, cuando la vid empieza a reproducir manchas que también se perciben en los granos.
                </p>
                <br>
                <p>
                    El mismo hongo que ataca el viñedo en la Podredumbre Gris puede transformarse en un elemento virtuoso de la uva si es manipulado intencionalmente. Para eso es necesario que la uva llegue sana hasta una etapa de mucha madurez hasta que el hongo aparezca.
                </p>
                <br>
                <p>
                    Para eso es necesario administrar las dosis de humedad. Por ejemplo, estresando al viñedo con una gran radiación solar durante el día y rociando las uvas. Las uvas infectadas se secan, reduciendo su pulpa y generando una altísima concentración de azúcares. Los vinos que nacen a partir de estos racimos son dulces, densos y permiten descubrir notas, por ejemplo, a caramelo o miel.
                </p>
                <br>
                <p>
                    Esta técnica es mundialmente conocida gracias a los experimentos llevados a cabo en la región de Tokaj-Hegyalja en Hungría. La denominación de origen más antigua. Sin embargo, hoy en día son muchos los países que trabajan con vinos botritizados.
                </p>
                <br>
                <p>
                    Son mundialmente conocidos los Sauternes franceses (en Burdeos), el Auslese o Beerenauslese de Alemania, el Trockenbeerenauslese (TBA) de Austria, entre otros. En Argentina hay bodegas que experimentaron manipulando este proceso pero su producción es mucho menor. También en Estados Unidos, Italia, España, Australia y Nueva Zelanda.
                </p>
                <div class="contenedor-botones">
                <a href="/" class="btn btn-primary">Volver al inicio</a>
                </div>
        </article>
    </div>
</div>
<aside class="col-md-3 sticky-top">
      <br>
      <br>
    <h2>Más notas</h2>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <strong>Una copa de vino al día alarga la vida</strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Científicos descubren que el vino contiene antioxidantes, y sólo una copa al día es suficiente para tener una vida longeva.
                <a href="/nota1" class="btn btn-primary">Ir a la nota</a>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <strong>Cómo tener una cava en casa</strong>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Aquellos amantes del vino pueden guardar esta noble bebida, recreando las condiciones de una cava, pero en casa, sólo se necesita un espacio donde se puedan controlar tanto la humedad, como la temperatura.
                <a href="/nota3" class="btn btn-primary">Ir a la nota</a>
            </div>
          </div>
        </div>
      </div>
    </aside>
</div>