<div class="container">
    <div id="nota3" class="container">
        <div class="col-lg-9 col-md-9 mt-6 mt-sm-0">
            <article class="nota clearfix">
                <h1 class="title">
                    Cómo tener una cava en casa
                </h1>
                <p><span class="post-fecha">26 de marzo de 2022</span> por <span class="post-autor"><a href="#">Bibiana Flamini</a></span></p>
                <h4 class="post-title text-justify"> Aquellos amantes del vino pueden guardar esta noble bebida, recreando las condiciones de una cava, pero en casa, sólo se necesita un espacio donde se puedan controlar tanto la humedad, como la temperatura. 
                </h4>
                <img class="img" src="images/cava.jpg" alt="cava bodega">
                <p>
                    Todo buen degustador de vinos sueña construir su bodega, donde tenga esa colección que se puede lucir cuando llegan sus amigos o simplemente unas botellas que puedan disfrutar en esas noches de descanso y reunión familiar.
                </p>
                <br>
                <p>
                    Una bodega es el sitio ideal para guardar sus botellas de vino, allí deben tener la temperatura y humedad apropiadas para que mantengan el buqué que tenían cuando las compraron. La temperatura promedio recomendada de be ser 13° C (55,4° F) aunque algunos conocedores opinan que puede llegar hasta 16°C (60.8°F), siempre cuidando de que los aumentos o disminuciones de la temperatura sean graduales.
                </p>
                <br>
                <p>
                    Es necesario controlar la humedad, un ambiente muy seco hace que los corchos orgánicos se resequen contaminando la calidad del vino. La iluminación debe realizarse con lámparas que no produzcan calor para que no altere las condiciones climáticas del ambiente de la bodega. Si nuestra bodega está en una ampliación que hemos hecho a propósito para ello, la humedad es una de los factores mas fáciles de resolver usando componentes hidrófugos en la preparación y construcción de piso, paredes y techos para logar la total impermeabilización de la habitación y así evitar futuras filtraciones que provocarían el enmohecimiento, alterando la calidad de la colección.
                </p>
                <br>
                <p>
                    En el caso que tengan en su vivienda un sótano, solo tienen que pensar cuantas botellas guardar y cuál va a ser el estilo a definir para la bodega. Primero analicemos como están recubiertas las paredes, piso y techo de nuestro sótano. El piso podemos cubrirlo con tablones de madera, rústico con piedras o simplemente de concreto. Las paredes, si se van a cubrir con las estanterías con solo darle una buena base y pintarlas es suficiente, pero hay que tener cuidado en el techo y paredes, y revisar cualquier filtración para evitar moho.
                </p>
                <br>
                <p>
                    Tanto la iluminación como la ventilación son muy importantes, ya que hay que mantener el clima apropiado para la conservación del producto. La ventilación artificial es la ideal para el funcionamiento de una bodega, si se va a construir una habitación especial para tal uso. Si en una vivienda se va a destinar un espacio para cava hay que tener en cuenta que este lugar no reciba en ningún momento del dia la luz solar y que sea un sitio resguardado de los cambios bruscos temperatura y humedad. La iluminación debe ser bien distribuida de tal forma que todas las botellas se les pueda identificar con facilidad. Las luces y lámparas no deben emitir calor que perjudique el clima dentro de la bodega. Se puede usar sistema de focos LED, e iluminar las botellas desde arriba y deste atrás para dar mayor interés a la colección.
                </p>
                <br>
                <p>
                    En cuanto a las estanterías, hay múltiples opciones. Las de madera son las más utilizadas, pero también podemos encontrar desde metal, hasta de acrílico. El tipo de estantería escogida tiene relación directa con el estilo que le queremos dar a nuestra bodega y el lugar donde se encuentra. Tenemos que pensar en que la cava debe ser el punto focal del diseño de interior del ambiente donde la ubicamos, utilizando una estantería llamativa con toques de color. Lo importante en todos los casos es que las botellas tengan una ligera inclinación hacia el tapon de las mismas y que sea facil el manejo de ellas.
                </p>
                <br>
                <p>
                    El principio básico en toda cava es controlar la temperatura. Las modernas heladeras para vino son muy común en la actualidad, podemos disponer según nuestros recursos de un cómodo almacenamiento refrigerado que no ocupa mucho espacio y  mantiene las botellas en el punto ideal para degustarlas; se pueden guardar en un estante con el diseño y condiciones apropiadas de almacenaje las botellas compradas recientemente y colocar refrigeradas las que se van a consumir.
                </p>
                <br>
                <p>
                    Para realizar el presupuesto de la cava, hay que definir, en primer lugar la cantidad de botellas que tenemos en nuestra colección o vamos a comprar. Luego, definir el tipo de bodega que queremos, si es la adaptación de una habitación, o si vamos a construirla, si estará sobre el suelo o excavando. De acuerdo con el espacio que se habilitará para este uso hay que diseñar el sistema de climatización artificial que permita mantener los indices adecuados de temperatura y humedad de la colección. Hay expertos que hacen este trabajo desde el diseño hasta la construcción. Por último y no de menor importancia esta el diseño y construcción de la estantería apropiada según el espacio que tenemos, es también necesario tomar en cuenta si se va a colocar o no un bar o área de degustación de los vinos. 
                </p>
                <br>
                <p>
                    Siguiendo estos consejos, podrán tener la cava que siempre soñaron.
                </p>
                <div class="contenedor-botones">
                <a href="/" class="btn btn-primary">Volver al inicio</a>
                </div>
            </article>
        </div>
    </div>
    <aside class="col-md-3 sticky-top">
      <br>
      <br>
        <h2>Más notas</h2>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <strong>Una copa de vino al día alarga la vida</strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Científicos descubren que el vino contiene antioxidantes, y sólo una copa al día es suficiente para tener una vida longeva.
                <a href="/nota1" class="btn btn-primary">Ir a la nota</a>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <strong>¿Qué son los vinos botritizados?</strong>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Son los vinos producidos con uvas afectadas por el hongo llamado "botritis cinerea", el cual aporta mayor concentración de azúcar, por lo tanto, vinos más dulces.
                <a href="/nota2" class="btn btn-primary">Ir a la nota</a>
            </div>
          </div>
        </div>
      </div>
    </aside>
</div>