<div id="nota1" class="container">
    <div class="col-lg-12 col-md-12 mt-8 mt-sm-0">
    <article class="nota clearfix">
        <h1 class="title">
        Una copa de vino al día alarga la vida
        </h1>
        <p><span class="post-fecha">25 de abril de 2022</span> por <span class="post-autor"><a href="#">Bibiana Flamini</a></span></p>
        <h4 class="post-title text-justify"> Científicos descubren que el vino contiene antioxidantes, y sólo una copa al día es suficiente para tener una vida longeva. 
        </h4>
        <img class="img" src="images/copa vino.jpg" alt="copa de vino">
        <p>
            Según la Clínica Mayo, el vino tinto, con moderación, es “saludable”, dados sus efectos antioxidantes, antiinflamatorios y reguladores de lípidos.
        </p>
        <br>
        <p>
            Si se consume una copa de vino al día, se podrían dar los siguientes beneficios en el organismo:
            <ol>
                <li>Disminuye el efecto del cigarrillo: el tabaco puede generar daños en los vasos sanguíneos. El vino puede ayudar a contrarrestar dicho efecto actuando como un vasodilatador y relajando dichas partes del cuerpo.</li>
                <li>Efectos anticoagulantes y antitrombóticos: quienes consumen vino esporádicamente logran aumentar la cantidad de proteínas fibrinógenas, precursoras de la fibrina, la cual, es responsable de la formación de los coágulos de sangre que ayudan, por ejemplo, a sanar heridas.</li>
                <li>Reduce el riesgo de fallecimiento: el consumo de máximo 32 gramos de alcohol por día tiene un efecto de protección sobre la salud humana. Por lo que se evitan varias causas de mortalidad.</li>
                <li>Previene enfermedades cardiovasculares: el alcohol y ciertas sustancias en el vino tinto pueden ayudar a prevenir la enfermedad de las arterias coronarias, la afección que lleva a que se produzcan los ataques cardíacos.</li>
                <li>Previene la aparición de aterosclerosis: el vino tinto, en particular, contiene flavonoides, unos compuestos que actúan como antioxidantes y contribuyen a reducir el riesgo de aterosclerosis (estrechamiento de las arterias) y a mantener la flexibilidad de los vasos sanguíneos.</li>
            </ol>
        </p>
        <br>
        <p>
            Cabe resaltar que, según reseña la Biblioteca Nacional de Medicina de Estados Unidos, las guías de alimentación para ese país recomiendan que quienes toman alcohol lo hagan con moderación, siempre y cuando dicho consumo “no signifique un riesgo para ellos ni para otros”.
        </p>
        <div class="contenedor-botones">
            <a href="/" class="btn btn-primary">Volver al inicio</a>
        </div>
    </article>
    </div>
</div>