 <!--AQUÍ COMIENZA NOVEDADES-->
          <div id="novedades" class="row py-4">
            <div class="col-md-6 offset-md-1 py-2">
                <h2>Novedades</h2>
                <ul class="lista-novedades">
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#example1Modal"><img src="images/milagrovinonuevo.jpg"> Fiesta Nacional de la Vendimia 2022 </a></li>
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#example2Modal" ><img src="images/enologo.jpg"> De enólogos y sommeliers </a></li>
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#example3Modal"><img src="images/degustacion.jpg"> Información sobre degustaciones </a></li>
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#example4Modal"><img src="images/copaburbujas.jpg"> Vinos de mendoza al mundo </a></li>
                </ul>
            </div>
            <div class="modal fade" id="example1Modal" tabindex="-1" aria-labelledby="example1ModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                 <div class="modal-content">
                    <div class="modal-header">
                       <h5 class="modal-title" id="example1ModalLabel">Se llamó Milagro del Vino Nuevo</h5>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>La edición número 86 de la fiesta máxima de los mendocinos se llevó a cabo el día 04 de marzo del corriente año, en el emblemático teatro griego Frank Romero Day, contó con la dirección de Vilma Rupolo y Federico Ortega, y guión de Arístides Vargas.</p>
                    </div>
                </div>
             </div>
            </div>
            <div class="modal fade" id="example2Modal" tabindex="-1" aria-labelledby="example2ModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                 <div class="modal-content">
                    <div class="modal-header">
                       <h5 class="modal-title" id="example2ModalLabel">Mariano Di Paola</h5>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>El director de Rutini Wines será el encargado de dirigir la próxima edición de Premium Tasting, que se llevará a cabo en los jardines del Park Hyatt Mendoza</p>
                    </div>
                </div>
             </div>
            </div>
            <div class="modal fade" id="example3Modal" tabindex="-1" aria-labelledby="example3ModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                 <div class="modal-content">
                    <div class="modal-header">
                       <h5 class="modal-title" id="example3ModalLabel">El INV brindará cursos gratuitos de degustación</h5>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>El Instituto Nacional de Vitivinicultura brindará durante el mes de mayo y en los departamentos de Tunuyán y San Martín, cursos gratuitos sobre "Iniciación en la Degustación de Vinos", los interesados podrán visitar la página del Instituto para más información.</p>
                    </div>
                </div>
             </div>
            </div>
            <div class="modal fade" id="example4Modal" tabindex="-1" aria-labelledby="example4ModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                 <div class="modal-content">
                    <div class="modal-header">
                       <h5 class="modal-title" id="example4ModalLabel">Wine Bar mendocino galardonado</h5>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Se trata de VinoBien, el winebar del sommelier Rodrigo Kohn, que fue galardonado en los Premios Thacks como uno de los mejores sitios del mundo para degustar vino y otras bebidas espirituosas.</p>
                    </div>
                </div>
             </div>
            </div>
    <!--AQUÍ CIERRA NOVEDADES-->