html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.navbar {
    background-color: rgb(79, 12, 12);
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 20px;
}
.navbar .navbar-brand {
    color:antiquewhite;
}
.navbar .nav-link {
    color: rgb(202, 150, 150);
}
.dropdown-menu .dropdown-item {
    color: rgb(33, 6, 6);
}
p {
    color: rgb(171, 141, 102);
    text-align: justify;
}
.contenedor-botones .btn {
    box-shadow: 10px 5px 5px black;
}
#destacado {
    color:rgb(179, 179, 231);
}
h1, h2, h4, h5 {
    font-family: 'Quicksand', sans-serif;
    color:rgb(79, 12, 12);
    font-weight: bold;
}
.jumbotron .titulo-blog {
    text-shadow: 0 0 3px rgb(204, 143, 143);
}
.hero {
    background: url(../images/cheers.jpg) no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 600px;
    color: antiquewhite;
}
.main {
    margin-top: 20px;
    margin-bottom: 20px;
}
#historia {
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
    margin-bottom: 20px;
}
.post {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
}
.post .post-title a {
    color: rgb(85, 59, 59);
    font-family: 'Quicksand', sans-serif;
}
.post .thumb {
    margin-right: 10px;
    width: 40%;
}
.post img {
    width: 300px;
    float: left;
    margin-right: 10px;
}
.post .contenedor-botones {
    width: 100%;
}
.post .post-fecha {
    font-style: italic;
}
.post .post-contenido {
    margin-right: 20px;
}
.nota {
    margin-right: 50px;
    margin-top: 100px;
    font-family: 'Quicksand', sans-serif;
    float: left;
}
.nota img {
    width: 300px;
    margin-right: 100px;
}
.card {
    width: 18rem;
}
.lista-novedades {
    margin: 0;
    padding: 0;
    list-style: none;
}
.lista-novedades li a {
    margin: 4px 0;
}
.lista-novedades li a {
    background-color: #fff;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    color: #a0a0a0;
    transition: all .25 ease-in-out;
    display: block;
}
.lista-novedades li a:hover {
    color: rgb(79, 12, 12);
    background-color: #dadada;
}
.lista-novedades li a img {
    width: 120px;
    height: 50px;
    filter: grayscale();
    transition: all .25 ease-in-out;
    margin-right: 1rem;
    opacity: 0.7;
}
.lista-novedades li a:hover img {
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}
.testimonios {
    padding-bottom: 2rem;
    font-family: 'Quicksand', sans-serif;
}
.testimonios .carousel-item {
    text-align: center;
    padding: 20px 10px;
}
.testimonios .carousel-item img {
    background-size: cover;
    height: 25vh;
    min-height: 100px;
    color: antiquewhite;
}
.testimonios .carousel-item p {
    color: aliceblue;
}
.testimonios .carousel-item h5 {
    color: aliceblue;
}
#nosotros {
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
}
.card {
    margin-left: 20px;
    margin-right: 20px;
}
aside {
    float: right;
    width: 40%;
}
.lista-categorias {
    list-style: none;
}
footer {
    margin-top: auto;
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
}
.img-size {
    height: 25vh;
    min-height: 500px;
	width: 700px;
	background-size: cover;
	overflow: hidden;
}
.carousel-caption p {
    color: aliceblue;
    text-align: justify;
    font-size: large;
}
.modal-body {
    padding: 0;
}